{% load static %}
<!doctype html>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Today I learn</title>
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css" />
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    </head>
    <body>
    {% include "header.html" %}
    <!-- 삽입될 내용 Start-->
    {% block content %}
    {% endblock %}
    <!-- End-->


    </body>
</html>