{% extends 'blog/base.html' %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th>#</th>
                <th style="width:50%">카테고리</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
        {% if categories %}
        {% for cate in categories %}
        <tr style="text-align: center">
            <td>{{ forloop.counter }}</td>
            <td>{{ cate }}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#categoryModal" data-value="{{cate}}">
                수정
                </button>
            </td>
            <td>
                <a href="#" class="delete btn btn-danger"
                   data-uri="/category/delete/{{cate.category_id}}">삭제</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">
        카테고리 추가
    </button>
    {% include "./category_modal.html" %}
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}
