{% extends 'blog/base.html' %}
{% load blog_filter %}
    {% block content %}
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="text-center thead-dark">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            {% if posts %}
            {% for post in posts %}
            <tr>
                <td>
                    {{ posts.paginator.count|sub:posts.start_index|sub:forloop.counter0|add:1 }}
                </td>
                <td>
                    <a href="/post/{{id}}/{{post.post_id}}">{{ post.title }}</a>
                </td>
                <td>{{ post.user.username }}</td>  <!-- 글쓴이 추가 -->
                <td>{{ post.created_at }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">포스트가 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <a href="/post/create/{{id}}" class="btn btn-primary">글쓰기</a>
        {% include 'blog/pagination.html' with page=posts %}
    </div>
{% endblock %}