{% extends 'blog/base.html' %}
{% load blog_filter %}
{% block content %}

<div class="container my-3">
    <h2 class="border-bottom py-2">{{ post.title }}</h2>
    <div class="card my-3">
        <div class="card-body">
<!--            컨텐츠 Start-->
            <div>
                <div id="viewer">{{post.content}}
                </div>
                <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
            </div>

<!--            컨텐츠 END -->
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ post.created_at }}
                </div>
            </div>
        </div>
    </div>
    {% if request.user == post.user %}
    <div class="my-3">
        <a href="/post/edit/{{user.id}}/{{post.post_id}}" class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="#" class="delete btn btn-sm btn-outline-secondary"
       data-uri="/post/delete/{{post.post_id}}">삭제</a>
    </div>

    {% endif %}
    <!-- 질문 댓글 Start -->
    <div class="mt-3">
        {% for comment in post.comment.all %}
        <div class="comment py-2 text-muted">
            <span style="white-space: pre-line;">작성자 : {{ comment.content }}</span>
            <span>
                - {{ comment.user }}, {{ comment.created_at }}
                {% if comment.modified_at %}
                (수정:{{ comment.modified_at }})
                {% endif %}
            </span>
            {% if request.user == comment.user %}
            <a href="/comment/modify/{{comment.comment_id}}" class="small">수정</a>
            <a href="#" class="small delete"
               data-uri="/comment/delete/{{comment.comment_id}}">삭제</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="/comment/create/{{post.post_id}}"
           class="small"><small>댓글 달기</small></a>
    </div>
</div>

<script>
    {% include "../js/toast_viewer.js" %}
</script>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $(".delete").on('click', function() {
        console.log("???")
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}